/*Variabler*/
$bg-color: #082334;
$text-color: #000000;
$btn-color: #D17F44;
$btn-text: #ffffff;
$btn-hover: #B36631;
$font: LatoWeb, "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;