@use 'partial';

body {
    box-sizing: border-box;
    margin: 0;
    font-family: partial.$font;
    background-color: partial.$bg-color;
}

nav {
    height: 1em;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    
    a{
        cursor: pointer;
    }
    
}

.scenario {
    background: white;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    margin: 1em;

    .btn {
    @include partial.btn;
    &:hover{
        @include partial.btn-hover;
        }
    }
}

.img-scenario {
    width: 100%;
    height: auto;
}

input {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    border: 0.5em;
    border: 1px solid #000000;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .img-scenario{
        max-width: 600px;
    }
}

@media (min-width:1024px) {
    .img-scenario{
        max-width: 800px;
    }
}